@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "garamond";
  src: url("/fonts/EBGaramond-Medium") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "garamondSemiBold";
  src: url("/fonts/EBGaramond-SemiBold") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "garamondBold";
  src: url("/fonts/EBGaramond-Bold") format("ttf");
  font-weight: 400;
  font-style: normal;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Internet Explorer, Edge */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
